@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0F172A;
}

::-webkit-scrollbar-thumb {
  background: #A65D57;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
}
